# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDE
.vscode/
.idea/
*.swp

# Variables de entorno
.env
.env.local

# Builds
dist/
build/
